<template>
  <div>
    <div>
      <b-container class="d-flex justify-content-center">
        <div id="side-btn" @click="click_menu">
          <b-button id="sideBar" v-b-toggle.sidebar-no-header>
            <font-awesome-icon icon="bars" />
          </b-button>
        </div>
        <b-sidebar id="sidebar-no-header" no-header right shadow>
          <template #default="{ hide }">
            <b-button block @click="hide(), close_menu()">X</b-button>
            <h3>追加項目</h3>
            <p v-for="(subject, index) in subjects" :key="index" draggable="true">
              {{subject.text}}
            </p>
            <b-form-group>
            </b-form-group>
            <b-form-input v-model="add_places"></b-form-input>
            <b-button v-on:click="add_element">要素を追加する</b-button>
          </template>
        </b-sidebar>
      </b-container>
    </div>
    <section>
      <table class="table table-bordered" id="table">
        <thead class="text-center">
        <tr id="date_cell_color">
          <th scope="col"> </th>
          <th scope="col">月</th>
          <th scope="col">火</th>
          <th scope="col">水</th>
          <th scope="col">木</th>
          <th scope="col">金</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><b-form-input v-bind="message" /></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td draggable="true">
            <b-form-input v-bind="message"></b-form-input>
          </td>
          <td><b-form-input v-bind="message" /></td>
          <td><b-form-input v-bind="message" /></td>
          <td><b-form-input v-bind="message" /></td>
          <td><b-form-input v-bind="message" /></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
            <b-form-input v-bind="message" />
            <router-link to="/conditional">
              <!--            <b-button variant="success">詳細</b-button>-->
            </router-link>
          </td>
          <td>{{selected}}</td>
          <td></td>
          <td>{{subject}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td id="target">
            <b-input v-model="message"/>
            <div v-if="message && message2 && message === message2">
              {{change_color_red('target', 'target2')}}
            </div>
            <div v-if="message && message2 && message !== message2">
              {{change_color_white('target', 'target2')}}
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td id="target2">
            <b-input v-model="message2" />
            <div v-if="message && message2 && message === message2">
              {{change_color_red('target', 'target2')}}
            </div>
            <div v-if="message && message2 && message !== message2">
              {{change_color_white('target', 'target2')}}
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><b-form-input v-bind="message" /></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </section>
    <b-button v-on:click="clear_button" type="button" id="clearButton">削除</b-button>
    <b-button type="button" class="m-5">保存</b-button>
  </div>
</template>

<script>
import data from '@/data/data.json';

export default {
  data() {
    return {
      courseGradeId: '',
      subjects: [
      ],
      selected: '',
      message: '',
      message2: '',
      add_places: null,
    };
  },
  component: {
    data,
  },
  created() {
    this.courseGradeId = sessionStorage.getItem('course&grade');
    this.inquiryCourse(this.courseGradeId);
  },
  methods: {
    click_menu() {
      const elem = document.getElementById('table');
      elem.style.width = '75%';
    },
    close_menu() {
      const elem = document.getElementById('table');
      elem.style.width = '100%';
    },
    clear_button() {
      if (window.confirm('all clear')) {
        // v-bindの削除が初期化がうまくいかないので今はリロードで対応
        document.location.reload(true);
        // v-modelの初期化
        this.message = '';
        this.selected = '';
      } else {
        // キャンセル時のアラート(動作確認)
        alert('キャンセルされました');
      }
    },
    change_color_red(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ff0000';
      color2.style.backgroundColor = '#ff0000';
    },
    change_color_white(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ffffff';
      color2.style.backgroundColor = '#ffffff';
    },
    add_element() {
      const { subjects } = this;
      const addsubject = this.add_places;
      if (addsubject === null) {
        window.alert('追加する教科名を入力してください。');
      } else {
        subjects.push(addsubject);
      }
      this.push(addsubject);
    },
    inquiryCourse(id) {
      if (id) {
        this.subjects = data[id].subjects;
      }
    },
  },
};
</script>

<style>
  th {
    width: 60px;
  }
  td {
    width: 300px;
  }
  p{
    margin: 10px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: #ffffff;
  }
  #table {
    margin-top: 38px;
  }
  #date_cell_color {
    background-color: #D9E5FF;
  }
  #side-btn{
    display: flex;
    position: -webkit-sticky;
    position: absolute;
    left: calc(100% - 3%);
  }
  #sidebar-right{
    position: relative; top: 56px;
    width: calc(100% - 75%);
  }
</style>
